<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard Admin - Feedbacks</title>
  <link href="/styles/dashboard.css" rel="stylesheet" />
</head>
<body>
  <div class="nav">
    <ul class="menu">
      <li><a href="#"><img src="/images/unand.jpeg" alt="Logo"></a></li>
      <li><a href="/admin/dashboard">Dashboard</a></li>
      <li><a href="/admin/feedback" class="active">Umpan Balik</a></li>
      <li><a href="#">Notifikasi</a></li>
      <li><a href="/admin/profil">Profile</a></li>
      <li><a href="/login" style="margin-top: 70px;">Log Out</a></li>
    </ul>
  </div>

  <div class="container">
    <h1>Data Feedback</h1>
    <table id="feedbackTable">
      <thead>
        <tr>
          <th style="text-align: center;">No</th>
          <th style="text-align: center;">Tanggal</th>
          <th style="text-align: center;">Nama Mahasiswa</th>
          <th style="text-align: center;">NIM</th>
          <th style="text-align: center;">Saran</th>
          <th style="text-align: center;">Feedback</th>
        </tr>
      </thead>
      <tbody>
        <% if (feedbacks && feedbacks.length > 0) { %>
          <% feedbacks.forEach((feedback, index) => { %>
            <tr>
              <td style="text-align: center;"><%= index + 1 %></td>
              <td style="text-align: center;"><%= new Date(feedback.createdAt).toLocaleDateString() %></td>
              <td style="text-align: center;">
                <% if (feedback.detailJawabanEvaluasi && feedback.detailJawabanEvaluasi.jawabanEvaluasi && feedback.detailJawabanEvaluasi.jawabanEvaluasi.mahasiswa && feedback.detailJawabanEvaluasi.jawabanEvaluasi.mahasiswa.user) { %>
                  <%= feedback.detailJawabanEvaluasi.jawabanEvaluasi.mahasiswa.nama %>
                <% } else { %>
                  Tidak ada data
                <% } %>
              </td>
              <td style="text-align: center;">
                <% if (feedback.detailJawabanEvaluasi && feedback.detailJawabanEvaluasi.jawabanEvaluasi && feedback.detailJawabanEvaluasi.jawabanEvaluasi.mahasiswa) { %>
                  <%= feedback.detailJawabanEvaluasi.jawabanEvaluasi.mahasiswa.nim %>
                <% } else { %>
                  Tidak ada data
                <% } %>
              </td>
              <td style="text-align: center;">
                <% if (feedback.detailJawabanEvaluasi) { %>
                  <%= feedback.detailJawabanEvaluasi.jawaban %>
                <% } else { %>
                  Tidak ada data
                <% } %>
              </td>
              <td>
                <ul>
                  <li>
                    Feedback: <%= feedback.feedback %>
                    <% if (feedback.picture) { %>
                      <br />Dokumentasi: <br/><img width="80%" src="/images/<%= feedback.picture %>" />
                    <% } %>
                  </li>
                </ul>
              </td>
            </tr>
          <% }); %>
        <% } else { %>
          <tr>
            <td colspan="6">Tidak ada data feedback.</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>
