<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard Mahasiswa</title>
    <link href="/styles/dashboard.css" rel="stylesheet" />
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="nav">
        <ul class="menu">
            <li><a href="#"><img src="/images/unand.jpeg" alt="Logo"></a></li>
            <li><a href="/mahasiswa/dashboard" >Dashboard</a></li>
            <li><a href="/mahasiswa/formEvaluasi">Evaluasi</a></li>
            <li><a href="/mahasiswa/feedback" class="active">Umpan Balik</a></li>
            <li><a href="#">Notifikasi</a></li>
            <li><a href="/mahasiswa/profil" >Profile</a></li>
            <li><a href="/login" style="margin-top: 70px;">Log Out</a></li>
        </ul>
    </div>

    <div class="container">
        <h1>Data Feedback</h1>
        <table id="kriteriaTable">
            <thead>
                <tr>
                    <th style="text-align: center;">No</th>
                    <th style="text-align: center;">Tanggal</th>
                    <th style="text-align: center;">Evaluasi</th>
                </tr>
            </thead>
    <tbody>
        <% if (evaluasiJawaban && evaluasiJawaban.length> 0) { %>
            <% evaluasiJawaban.forEach((jawaban, index)=> { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= jawaban?.detailJawabanEvaluasi[0]?.createdAt.toLocaleDateString() %>
                    </td>
                    <td>
                        <ul>
                            <% jawaban.detailJawabanEvaluasi.forEach((detail)=> { %>
                                <li>
                                    <%= detail.pertanyaan.pertanyaan %>: <%= detail.jawaban %>
                                            <% if (detail.picture) { %>
                                                <br />Bukti: <br/><img width="80%" src="/images/<%= detail.picture %>" />
                                                <% } %>
                                                    <% if (detail.feedback) { %>
                                                        <br />Feedback: <%= detail.feedback.feedback %><br/>
                                                            <% if (detail.feedback.picture) { %>
                                                            Dokumentasi:<br/>
                                                            <img width="80%" src="/images/<%= detail.feedback.picture %>" />
                                                                <% } %>
                                                            <% } %>
                                </li>
                                <% if (detail.pertanyaan.id==4) { %>
                                    <br />
                                    <% } %>
                                        <% }) %>
                        </ul>
                    </td>
                </tr>
                <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="3">Tidak ada data feedback.</td>
                        </tr>
                        <% } %>
    </tbody>


        </table>
    </div>

    <div id="notification-container" class="notification-container"></div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- <script>
        const socket = io("http://localhost:9000"); 
    
        // Mendengarkan event 'connect' dari server
        socket.on('connect', () => {
          console.log('Terhubung ke server Socket.IO');
          const userId = "<%= mahasiswaa.id %>"; 
          socket.emit('join', userId); 
        });
    
        // Mendengarkan event 'setuju' untuk menampilkan notifikasi
        socket.on('setuju', (data) => {
          console.log('Notifikasi baru:', data);
          // Tambahkan logika untuk menampilkan notifikasi kepada pengguna
          // Contoh sederhana menggunakan alert
          alert(data.message);
        });
      </script>
     -->
</body>

</html>
