<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profil Admin</title>
    <link href="/styles/profile.css" rel="stylesheet" />
</head>
<body>
    <div class="nav">
        <ul class="menu">
            <li><a href="#"><img src="/images/unand.jpeg" alt="Logo"></a></li>
      <li><a href="/admin/dashboard">Dashboard</a></li>
      <li><a href="/admin/feedbacks" >Umpan Balik</a></li>
      <li><a href="#">Notifikasi</a></li>
      <li><a href="/admin/profil" class="active">Profile</a></li>
      <li><a href="/login" style="margin-top: 70px;">Log Out</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="nama">
            <div class="container text-left" style="margin-left: 10px; margin-top: 0;">
                <div style="display: flex; align-items: center;">
                    <img src="/images/admin.jpg" alt="Profile Picture">
                    <div id="user" style="margin-left: 20px;">
                        <h2><%= adminData.user.username %></h2>
                        <div id="jurusan" style="font-size: 20px; margin-left: 40px;">Admin</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit">
            <h1><strong>Informasi Data</strong></h1>
            <div class="data">
                <div class="container text-left">
                    <div style="display: flex;">
                        <div style="flex: 1;">
                            <div class="mb-3">
                                <label for="nama" class="form-label">Nama</label>
                                <div id="nama"><%= adminData.nama %></div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <div id="email"><%= adminData.user.email %></div>
                            </div>
                        </div>
                        <div style="flex: 1;">
                            <div class="mb-3">
                                <label for="nip" class="form-label">NIP</label>
                                <div id="nip"><%= adminData.nip %></div>
                            </div>
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <div id="gender"><%= adminData.gender %></div>
                            </div>
                        </div>
                    </div>
                    <button class="btn-primary" onclick="window.location.href='/admin/ubahPassword'">Ganti Password</button>
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>
